<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <div style="height: 500px; width:500px; background-color:black; color:white;">
            <h1>Blog For The Day</h1>
            <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus itaque quis ipsum. Similique obcaecati beatae incidunt consequuntur atque minima blanditiis qui! Dolorem minus alias quibusdam dolore quisquam impedit facere repudiandae!</h2>
            <a href="{% url 'app2:index' %}"><button>Index</button></a>
            <a href="{% url 'app1:home' %}"><button>Home</button></a>
        </div>
    </center>
</body>
</html>