<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomE</title>
</head>
<body>
    <center>
        <div style="height: 500px; width:500px; background-color:black; color:white;">
            <h1>This is Home page</h1>
            <h2>for going next page
                click below button
            </h2>
            <a href="{% url 'app2:index' %}"><button>click for index</button></a>
            <a href="{% url 'blog' %}"><button>click for blog</button></a>
        </div>
    </center>
</body>
</html>