<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
    <center>
        <div style="height: 500px; width:500px; background-color:black; color:white;">
            <h1>This is index page</h1>
            <h2>for going home page
                click below button
            </h2>
            <a href="{% url 'app1:home' %}"><button>click</button></a>
        </div>
    </center>
</body>
</html>